body
{
  margin: 0;
  background-color: #FFFFFF;
}

/* sizes and positions */
.logo 
{
  padding: 30px;
  height: 75px;
}
.icon
{
  height: 50px;
}
.topmenu
{
  height: 135px;
  width: 100%;
}

/* texts */
.heading
{
  font-size: 100px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-top: 15px;
}
.text
{
  font-size: 20px;
  text-align: center;
  color: #333333;
}